.input-login {
    border: none;
    outline: none;
    color: #004080;
}

.input-login:focus {
    border: none;
    outline: none;
    box-shadow: none;
    color: #004080;
}

.input-login:disabled {
    background-color: transparent;
    color: gray;
}