.bg-body {
    background: #1D976C;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2aec72, #1D976C);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2aec72, #1d976c);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.bg-navbar{
    border-bottom: 3px solid white;
    background: #1d976c;
}

.input-style {
    border: none;
    outline: none;
    color: #1d976c;
    border-bottom: 2px solid #1d976c;
    background-color: transparent;
    border-radius: 0;
}

.input-style:focus {
    border: none;
    outline: none;
    box-shadow: none;
    color: rgb(29, 151, 108);
    border-bottom: 2px solid #1d976c;
    background-color: transparent;
    border-radius: 0;
}

.input-style:disabled {
    background-color: transparent;
    color: gray;
}

.btn-style {
    padding: 8px 16px;
    border-radius: 16px;
    border: none;
    box-shadow: 0px 5px 2px rgba(0, 0, 0, 0.25);
    background: linear-gradient(to right, #1D976C, #2fb73d);
}

.btn-style:hover {
    scale: 0.95;
    background: linear-gradient(to left, #1D976C, #2fb73d);
}

.bg-content {
    background: rgba(255, 255, 255, .2);
    border: max(2px, 0.0625rem) solid rgba(255, 255, 255, .6);
    border-radius: 17px;
}

.border-acordion {
    border: 8px solid rgb(255 255 255 / 4%);
    background: rgb(255 255 255 / 20%);
    border-radius: 10px;
}

.accordion-button:not(.collapsed){
    background-color: #dcfff2 !important;
    border-bottom: 2px solid #1d976c;
}